# ==========================================
# macOS
# ==========================================
.DS_Store
.AppleDouble
.LSOverride

# ==========================================
# MATLAB
# ==========================================
*.asv
*.m~
*.mex*
slprj/

# ==========================================
# Dynare output
# ==========================================
*.log
*.aux
+*/

# ==========================================
# Data files
# ==========================================
*.mat

# ==========================================
# PDF
# ==========================================
*.pdf